/* common */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: "Open Sans";
}

.bold {
  font-weight: 600;  
}

.text-blue {
  color: #4A90E2;
}

.blue-gradient {
  background: linear-gradient(to right, #24D3FD , #3C4CD2);;
}

/*************** Page CSS *******************/
/*************** Headline *******************/
.headline-background {
  background: url('../images/background.svg');
  position: absolute;
  top: 0;
  height: 60rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}

.logo__image {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.logo__text {
  color: #ffffff; 
  font-size: 1.5rem;
  font-weight: 600;
}

.headline-text__upper {
  font-size: 1.68rem;
  font-weight: 600;
}

.headline-text__under {
  font-size: 1.19rem;
}

/* Button edit */
.btn {
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-action {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #FED144;
  color: #fff;
  font-weight: 600;
}

.btn-action.raised {
  box-shadow: 0 5px 0 0 #A8892B;
}

.btn-action.raised:active, .btn-action.raised.active {
  box-shadow: none;
  margin-bottom: -5px;
  margin-top: 5px;
}


/*************** How to use *******************/
#how-to-use {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  background-color: #FAFAFA;
}

/*************** Pricing *******************/
#pricing {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#download-app {
  padding-top: 4rem;
  padding-bottom: 4rem; 
}

.pricing-card {
  border: none;
  border-radius: 0 !important;
  margin-top: 2rem;
}

.pricing-card-header {
  border-bottom: none;
  border-top: 7px solid #4A90E2;
  border-radius: 0 !important;
  background-color: #ffffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pricing-card-body {
  padding-bottom: 4rem;
}

.pricing-box-shadow {
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.2);
}

/*************** Footer  *******************/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #fafafa;
}



/* Custom css */

@media (max-width: 374px) {
  .headline-text__upper {
    font-size: 1.4rem;
  }
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .headline-background {
    background-size: cover;
    height: 34rem;
  }

  .headline-text {
    margin-left: 1.3rem;
    margin-top: 2rem;
  }

  .headline-text__upper {
    font-size: 1.5rem;
  }

  .headline-text__under {
    font-size: 1rem;
  }

  .iphone-container {
    margin-top: 4rem;
  }

  #benefit {
    padding-bottom: 5rem;
  }

  .benefit-head {
    margin-bottom: 4rem!important;
  }

  .btn-action {
    padding: 0.65rem 1.5rem;
  }

  .pricing-card-body h4 {
    font-size: 1.2rem;
  }
} 

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .headline-background {
    top: 0;
    height: 60rem;
    background-size: auto;
    top: -15rem;
  }

  .headline-text {
    margin-left: 6rem;
    margin-top: 2rem;
  }

  .headline-text__upper {
    font-size: 1.7rem;
  }

  .headline-text__under {
    font-size: 1.1rem;
  }


  .iphone-container {
    margin-top: 4rem;
  }

  #benefit {
    padding-bottom: 5rem;
  }

  .benefit-head {
    margin-bottom: 6rem!important;
  }

  .pricing-card-body h4 {
    font-size: 1.5rem;
  }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .headline-background {
    top: 0;
    height: 60rem;
    background-size: auto;
    top: -15rem;
  }

  .headline-text {
    margin-left: 6rem;
    margin-top: 2rem;
  }

  .headline-text__upper {
    font-size: 2rem;
  }

  .headline-text__under {
    font-size: 1.3rem;
  }


  .iphone-container {
    margin-top: 4rem;
  }

  #benefit {
    padding-bottom: 5rem;
  }

  .benefit-head {
    margin-bottom: 6rem!important;
  }

  .pricing-card-body h4 {
    font-size: 1.5rem;
  }
}
